<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm"
    class="flex flex-col items-center p-8 sm:px-16 w-full sm:w-md h-auto bg-[#131316] opacity-80 sm:backdrop-blur-3xl text-white shadow-lg rounded-4xl">
    <h2 class="text-2xl font-bold mb-4">{{ formTexts.title }}</h2>

    <div class="flex flex-col  w-72 md:w-80 gap-6">

      @if(!isLoginPage){
      <app-input formControlName="name" [control]="userForm!.get('name')" id="name" label="Nome"
        placeholder="Digite seu nome"></app-input>
      }

      <app-input formControlName="email" [control]="userForm!.get('email')" id="email" placeholder="Digite seu email"
        label="Email"></app-input>

      <app-input formControlName="password" [control]="userForm!.get('password')" id="password" [isPasswordField]="true"
        placeholder="Digite sua senha" formControlName="password" label="Senha"></app-input>

      <app-button [buttonText]="formTexts.buttonText"></app-button>


    </div>

    <p class="mt-4 text-gray-400">{{ formTexts.linkText }} <a class="text-blue-500"
        routerLink="{{ formTexts.linkButtonRoute }}">{{ formTexts.linkButtonText }}</a></p>

  </form>

</div>